**SI 670 Fall 2020 Kaggle Competition**

Please form teams of up to 4 students.  You should not collaborate with other teams, but you can talk to the GSIs if you are really stuck.  Please record you teams here:  https://docs.google.com/spreadsheets/d/1TDm_bwdSnENU8AMzxjvgqP2Fo3Poi3nRGr8dP1iIbqs/edit?usp=drive_web&ouid=109090332886082450282

For those who filled out the team survey and asked to be assigned to a team, you should find your name and your team members in the Google Sheet above. Please feel free to let us know if we missed you.

Give your team a fun and exciting name for the competition.  You only need one submission for the team.  Everyone on the team will get the same score.  


**Scoring**

There are two tasks, but they will be scored together.  It will be scored out of 100 points.  
You shall receive 40 points for a successful submission.  
You shall receive 20 additional points for attaining benchmark #1.
You shall receive 10 additional points for attaining benchmark #2.
You shall receive 30 * 2 / log2(2 + rank) additional “ranking points”.
The top five teams after the first evaluation will receive an additional 5 points.  

Note that, if you attain both benchmarks, you are guaranteed a score of 82.  The winning team will receive 108 points. 

The competition shall start Tuesday 10/20.

First evaluation is Monday 10/26 at 11:59pm  (only used for 5 bonus points)

Final evaluation is Monday 11/2 at 11:59 pm   

**Context**

Lake monitoring provides important information for environment protection and pollution identification, such as temperature/thermal monitoring. In this Kaggle task, we will provide thermal sensor data for multiple lakes and ask you to predict/estimate the temperature at a certain depth for certain lakes.

Content
We provide Lake Trout’s data during the period of Apr 20th, 2012 - Apr 19th, 2018.

For your reference, we also provide the data of six other lakes (ie., Bear Head, Carlos, Elk, Pearl, Shaokotan, White Iron). Please note that these datasets may vary in terms of the time window (yes, this is how real-world datasets look like!)

For each lake, there will be multiple sensors at different depths, and we will provide lake_id, time, depth and the corresponding temperature at this depth and time point. For example, for the Shaokotan Lake, you will see the following columns, with LakeId representing the lake identifier, Date_time representing the time stamp, Depth_m representing the depth in meters, and Water_Temp_C representing the temperature in Celsius.  Please note that the number of sensors are different across different lakes. 


**Task**

Predicting/estimating the temperature of Trout Lake at depth 10.5 m during Apr 20th, 2018 - Apr 19th, 2019. Please feel free to use part of/all the data we provide. 

Benchmark 1:  MSE < 0.065
Benchmark 2:  MSE < 0.032

Files for first task
For the first task, we will provide you a file Trout_training.csv under the Trout folder which contains all the sensors in the Trout Lake as training. Besides, we will give you another Trout_testing_features.csv under the Trout folder which contains all other sensors’ temperature (except the depth 10.5’s temperature). 

We hope you return a file named Trout_prediction.csv, the dataset you return and upload should have two columns: Date_Time and Water_Temp_C, with a shape of 8,760 * 2. (Reason for 8,760: 8,760 =  365 days * 24 sensorings/day) You are supposed to predict every hour’s temperature of depth-10.5 sensor during  Apr 20th, 2018 - Apr 19th, 2019. 

**Link** 
https://www.kaggle.com/c/si670fall2020/overview

## Task 1

In [307]:
import pandas as pd
import numpy as py

df_trout = pd.read_csv('Trout_training.csv')
df_trout.head(10)

      Date_Time  Water_Temp_C  Depth_m   diff
0  4/20/12 0:00         5.257      1.5  0.000
1  4/20/12 0:00         5.257      2.5 -5.257
2  4/20/12 0:00         5.257      3.5 -5.257
3  4/20/12 0:00         5.205      4.5 -5.205
4  4/20/12 0:00         5.205      5.5 -5.205
5  4/20/12 0:00         5.154      6.5 -5.154
6  4/20/12 0:00         5.231      7.5 -5.231
7  4/20/12 0:00         5.128      8.5 -5.128
8  4/20/12 0:00         5.102      9.5 -5.102
9  4/20/12 0:00         5.076     10.5 -5.076

In [308]:
df_trout.Date_Time = pd.to_datetime(df_trout.Date_Time)

In [309]:
#df_trout['Water_Temp_C'] = df_trout['Water_Temp_C'].apply(lambda x: np.round(x,6))

In [310]:
df_trout = df_trout[(df_trout['Date_Time'] >= '2016-04-20') & (df_trout['Date_Time'] <= '2018-04-19')]

In [311]:
unstacked = df_trout.pivot(index='Date_Time', columns='Depth_m', values='Water_Temp_C')
unstacked

Depth_m,1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5,11.5,12.5,14.5,16.5,18.5,20.5
Date_Time,,,,,,,,,,,,,,,,
2016-04-20 00:00:00,2.074,2.047,1.859,1.994,2.074,2.074,1.967,1.967,1.940,1.994,2.074,2.074,2.047,2.343,2.503,2.797
2016-04-20 01:00:00,2.074,2.047,1.886,1.994,2.074,2.074,1.967,1.967,1.940,1.994,2.074,2.047,2.047,2.343,2.530,2.770
2016-04-20 02:00:00,2.047,2.047,1.859,1.994,2.074,2.047,1.967,1.967,1.940,1.994,2.074,2.074,2.047,2.343,2.503,2.823
2016-04-20 03:00:00,2.047,2.047,1.859,1.994,2.047,2.047,1.967,1.967,1.940,1.994,2.074,2.074,2.047,2.343,2.557,2.797
2016-04-20 04:00:00,2.047,2.021,1.859,1.994,2.047,2.047,1.967,1.967,1.940,1.994,2.074,2.101,2.047,2.316,2.530,2.770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-18 20:00:00,0.412,0.852,0.880,0.962,1.071,0.989,1.289,1.289,1.453,1.371,1.534,1.534,1.724,1.778,2.155,2.477
2018-04-18 21:00:00,0.412,0.852,0.880,0.962,1.071,0.989,1.289,1.289,1.453,1.398,1.561,1.534,1.724,1.778,2.155,2.477
2018-04-18 22:00:00,0.412,0.852,0.880,0.962,1.071,0.989,1.289,1.289,1.453,1.398,1.534,1.534,1.724,1.778,2.155,2.503
2018-04-18 23:00:00,0.412,0.825,0.880,0.962,1.071,0.989,1.289,1.289,1.453,1.371,1.534,1.534,1.724,1.778,2.155,2.503
2018-04-19 00:00:00,0.412,0.852,0.880,0.962,1.071,0.989,1.289,1.289,1.453,1.371,1.534,1.534,1.724,1.778,2.155,2.503

In [312]:
unstacked.columns

Float64Index([ 1.5,  2.5,  3.5,  4.5,  5.5,  6.5,  7.5,  8.5,  9.5, 10.5, 11.5,
              12.5, 14.5, 16.5, 18.5, 20.5],
             dtype='float64', name='Depth_m')

In [313]:
lists = [6.5,7.5,8.5,9.5, 11.5,
              12.5,14.5]

In [314]:
unstacked = unstacked.dropna()

In [315]:
y = unstacked[10.5]
x = unstacked[lists]

In [316]:
x

Depth_m               6.5    7.5    8.5    9.5    11.5   12.5   14.5
Date_Time
2016-04-20 00:00:00  2.074  1.967  1.967  1.940  2.074  2.074  2.047
2016-04-20 01:00:00  2.074  1.967  1.967  1.940  2.074  2.047  2.047
2016-04-20 02:00:00  2.047  1.967  1.967  1.940  2.074  2.074  2.047
2016-04-20 03:00:00  2.047  1.967  1.967  1.940  2.074  2.074  2.047
2016-04-20 04:00:00  2.047  1.967  1.967  1.940  2.074  2.101  2.047
...                    ...    ...    ...    ...    ...    ...    ...
2018-04-18 20:00:00  0.989  1.289  1.289  1.453  1.534  1.534  1.724
2018-04-18 21:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
2018-04-18 22:00:00  0.989  1.289  1.289  1.453  1.534  1.534  1.724
2018-04-18 23:00:00  0.989  1.289  1.289  1.453  1.534  1.534  1.724
2018-04-19 00:00:00  0.989  1.289  1.289  1.453  1.534  1.534  1.724

[17136 rows x 7 columns]

In [317]:
y

Date_Time
2016-04-20 00:00:00    1.994
2016-04-20 01:00:00    1.994
2016-04-20 02:00:00    1.994
2016-04-20 03:00:00    1.994
2016-04-20 04:00:00    1.994
                       ...
2018-04-18 20:00:00    1.371
2018-04-18 21:00:00    1.398
2018-04-18 22:00:00    1.398
2018-04-18 23:00:00    1.371
2018-04-19 00:00:00    1.371
Name: 10.5, Length: 17136, dtype: float64

In [318]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=4)
X_poly = poly.fit_transform(x)

In [319]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

X_train, X_test, y_poly_train, y_poly_test = train_test_split(X_poly, y,  random_state= 2666)
scaler = MinMaxScaler()
standardized_X_poly_train = scaler.fit_transform(X_train)
standardized_X_poly_test = scaler.transform(X_test)

In [320]:
from sklearn.linear_model import Lasso, Ridge, LinearRegression
import numpy as np
from sklearn.metrics import mean_squared_error
alpha_list = [0.0000001,0.0000001, 0.001, 0.005, 0.01, 0.1]
mselist = []

for alpha in alpha_list:
    linlasso = Ridge(alpha, max_iter = 20000).fit(standardized_X_poly_train, y_poly_train)
    y_pred = linlasso.predict(standardized_X_poly_test)
    mse = mean_squared_error(y_poly_test, y_pred)
    mselist.append(mse)

In [321]:
mselist

[0.02100767569715769,
 0.02100767569715769,
 0.027472651047290447,
 0.028532448157811145,
 0.029059752409476017,
 0.030546507016760933]

In [322]:
linlasso = Ridge(0.0000001, max_iter = 10000).fit(standardized_X_poly_train, y_poly_train)
y_pred = linlasso.predict(standardized_X_poly_test)

In [323]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_poly_test, y_pred)

0.02100767569715769

In [324]:
ans = pd.read_csv("Trout_testing_features.csv")

In [325]:
predict = ans[['Date_Time', "Water_Temp_C", 'Depth_m']]

In [326]:
predict = predict.pivot(index='Date_Time', columns='Depth_m', values='Water_Temp_C')
predict= predict.dropna()

In [327]:
predict = predict[lists]

In [328]:
predict

Depth_m               6.5    7.5    8.5    9.5    11.5   12.5   14.5
Date_Time
2018-04-20 00:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
2018-04-20 01:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
2018-04-20 02:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
2018-04-20 03:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
2018-04-20 04:00:00  0.989  1.289  1.289  1.453  1.561  1.534  1.724
...                    ...    ...    ...    ...    ...    ...    ...
2019-04-19 19:00:00  3.485  3.617  3.512  3.617  3.591  3.564  3.696
2019-04-19 20:00:00  3.459  3.617  3.512  3.617  3.617  3.564  3.696
2019-04-19 21:00:00  3.485  3.617  3.512  3.617  3.591  3.564  3.696
2019-04-19 22:00:00  3.485  3.617  3.512  3.617  3.591  3.564  3.696
2019-04-19 23:00:00  3.485  3.617  3.512  3.591  3.591  3.538  3.696

[8760 rows x 7 columns]

In [329]:
# poly = PolynomialFeatures(degree=3)
X_pre = poly.fit_transform(predict)

In [330]:
X_pre

array([[  1.        ,   0.989     ,   1.289     , ...,   6.99399379,
          7.8602642 ,   8.83383017],
       [  1.        ,   0.989     ,   1.289     , ...,   6.99399379,
          7.8602642 ,   8.83383017],
       [  1.        ,   0.989     ,   1.289     , ...,   6.99399379,
          7.8602642 ,   8.83383017],
       ...,
       [  1.        ,   3.485     ,   3.617     , ..., 173.51591543,
        179.94243082, 186.60696529],
       [  1.        ,   3.485     ,   3.617     , ..., 173.51591543,
        179.94243082, 186.60696529],
       [  1.        ,   3.485     ,   3.617     , ..., 170.9934923 ,
        178.62971948, 186.60696529]])

In [331]:
standardized_X_poly_pre = scaler.transform(X_pre)

In [332]:
ans_pred = linlasso.predict(standardized_X_poly_pre)

In [333]:
pred = pd.DataFrame(ans_pred)

In [334]:
pred

             0
0     1.388327
1     1.388327
2     1.388327
3     1.388327
4     1.388327
...        ...
8755  3.586961
8756  3.599167
8757  3.586961
8758  3.586961
8759  3.579898

[8760 rows x 1 columns]

In [335]:
file_name = 'Trout_prediction2.csv'

In [336]:
pred.to_csv(file_name)